<div class="container">
  <div class="template">
    <div class="desc">
      <p>Start your document</p>
    </div>
    <div class="paper">
      <div>
        <span class="material-symbols-rounded"> add </span>
      </div>
      <p>Blank</p>
    </div>
    <div class="paper">
      <div>
        <span class="material-symbols-rounded"> add </span>
      </div>
      <p>Essay</p>
      <p>Paperback</p>
    </div>
    <div class="paper">
      <div>
        <span class="material-symbols-rounded"> add </span>
      </div>
      <p>Report</p>
      <p>Simple</p>
    </div>
    <div class="paper">
      <div>
        <span class="material-symbols-rounded"> add </span>
      </div>
      <p>Report</p>
      <p>Luxe</p>
    </div>
    <div class="paper">
      <div>
        <span class="material-symbols-rounded"> add </span>
      </div>
      <p>Report</p>
      <p>by WeDoc</p>
    </div>
    <div class="paper">
      <div>
        <span class="material-symbols-rounded"> add </span>
      </div>
      <p>CV</p>
      <p>Simple</p>
    </div>
  </div>
  <div class="file">
    <div class="mess">
      <p>File Name</p>
      <p>Date Modified</p>
    </div>
    <div class="file-item" *ngFor="let item of (files$|async)">
      <p>
        <span></span>
        {{item.title}}
      </p>
      <p>{{item.createdAt}}</p>
    </div>
  </div>
</div>
