<div class="container">
  <div class="template">
    <div class="desc"></div>
    <div class="paper" (click)="newPaper()">
      <div>
        <span class="material-symbols-rounded"> add </span>
      </div>
      <p>Blank</p>
    </div>
    <div class="paper">
      <div>
        <span class="material-symbols-rounded"> add </span>
      </div>
      <p>Essay</p>
    </div>
    <div class="paper">
      <div>
        <span class="material-symbols-rounded"> add </span>
      </div>
      <p>Report</p>
    </div>
    <div class="paper">
      <div>
        <span class="material-symbols-rounded"> add </span>
      </div>
      <p>Report</p>
    </div>
    <div class="paper">
      <div>
        <span class="material-symbols-rounded"> add </span>
      </div>
      <p>Report</p>
    </div>
    <div class="paper">
      <div>
        <span class="material-symbols-rounded"> add </span>
      </div>
      <p>CV</p>
    </div>
  </div>
  <div class="file">
    <div class="mess">
      <p>File Name</p>
      <p>Date Modified</p>
      <span style="width: 60px; height: 48px"></span>
    </div>
    <div class="file-item" *ngFor="let item of files$ | async">
      <span class="title">
        <p (click)="openFile(item.fileId)">
          {{ item.title }}
        </p>
      </span>
      <span class="date">
        <p>
          {{ item.updatedAt | date : "medium" }}
        </p>
      </span>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        class="material-symbols-outlined"
        style="margin-left: 1rem"
      >
        more_vert
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>delete_outline</mat-icon>
          <span>Delete</span>
        </button>
        <button (click)="opeInviteDialog(item)" mat-menu-item>
          <mat-icon>person_add</mat-icon>
          <span>Invite</span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>
