.main {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.template {
    width: 100%;
    //   height: 20rem;
    background-color: #f6f6f6;
    height: 70%;
}

.template-page {
    display: flex;
    width: 100%;
    height: 75%;
    background-color: #f6f6f6;
    align-items: center;

}

.Start-text {
    font-size: 1rem;
    margin-left: 10em;
    padding: 0.5rem;
}

.page-text-1 {
    margin-top: 5px;
    font-size: 1rem;
}

.page-text-2 {
    font-size: 0.8rem;
}

.page-1 {
    margin-left: 11rem;
    height: 11.25rem;
    width: 8.125rem;
    background-color: #f6f6f6;
}

.page-1,
.page:hover {
    cursor: pointer;
}

.page {
    margin-left: 3.75rem;
    height: 11.25rem;
    width: 8.125rem;
    background-color: #f6f6f6;
}

.page-text {
    background-color: #f6f6f6;
}

.page-page {
    height: 10rem;
    width: 8.125rem;
    background-color: #ffffff;
    border: 1px solid #ccc;
}

.icon-add {
    width: 1.875rem;
    height: 1.875rem;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.file {
    //   height: 25.8rem;
    width: 100%;
}

.file-title {
    display: flex;
}

.file-name {
    margin-top: 1rem;
    margin-left: 3.125rem;
    font-size: 1rem;
}

.date {
    margin-top: 1rem;
    margin-left: 62.5rem;
    font-size: 1rem;
}

.line {
    margin-left: 2.25rem;
    width: 95%;
    margin-top: 0.625rem;
    height: 0.0625rem;
    background-color: #ccc;
}

.line-item-file {
    margin-left: 2.25rem;
    width: 95%;
    height: 0.0625rem;
    background-color: #ccc;
}

.file-item {
    //   height: 22.8rem;
    width: 100%;
}

.item-file {
    display: flex;
    align-items: center;
}

.description-icon {
    margin-top: 1rem;
    margin-left: 2.25rem;
    width: 2.5rem;
    height: 2.5rem;
}

.item-file-Name {
    width: 70%;
    margin-left: 0.625rem;
    font-size: 1rem;
}

.item-date-Modified {
    margin-left: 2.5rem;
    font-size: 1rem;
}