/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

:root {
  --primary: #673ab7;
  --secondary: #c2c2c2;
  --base: #f6f6f6;
  --black: #202020;
  --danger: #ff3835;
  --warning: #ffb405;
  --info: #1681fc;
  --success: #a6db08;
  --shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.25);
}

body {
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden;
}

.mat-mdc-snack-bar-container {
  &.snackbar {
    --mdc-snackbar-container-color: #f6f6f6;
    --mat-mdc-snack-bar-button-color: #673ab7;
    --mdc-snackbar-supporting-text-color: #673ab7;
  }
}
.background-color {
  background-color: var(--primary) !important;
  color: white;
  cursor: pointer !important;
}

.background-color > :hover {
  color: var(--primary);
}
