/* You can add global styles to this file, and also import other style files */

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

:root {
  font-size: 16px;
  --primary-color: #673AB7;
  --primary-color-light: #d2b8ff;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
}