.saved-container{
    background-color: #ffffff;
    width: 100rem;
    height: 41rem;
}
.saved-text{
    display: flex;
    height: 5rem;
    width: 100%;
    background-color: #ffffff;
    align-items: center;
}
.text-1{
    margin-left: 5rem;
    font-size: 1.25rem;
    margin-top: 1rem;
}
.text-2{
    margin-left: 17rem;
    font-size: 1.25rem;
    margin-top: 1rem;
}
.text-3{
    margin-left:30rem;
    font-size: 1.25rem;
    margin-top: 1rem;
}
.line{
    margin-left: 1.5rem;
    width: 96.5rem;
    margin-top: 0.625rem;
    height: 0.0625rem;
    background-color: #ccc;
}
.content{
    display: flex;
}
.content-1{
    margin-left: 5.5rem;
    font-size: 0.875rem;
    margin-top: 1.3rem;
}
.content-2{
    margin-left: 20rem;
    font-size: 0.875rem;
    margin-top: 1.3rem;
}
.content-3{
    margin-left:27rem;
    font-size: 0.875rem;
    margin-top: 0.75rem;
}
.user{
    display: flex;
    margin-left: 4rem;
}
.user-img{
  width: 2.5rem;
  height: 2.5rem;
  background-color: black;
  border-radius: 1.25rem;
}
.user-name{
    margin-left: 0.5rem;
    font-size: 0.875rem;
    margin-top: 0.5rem;
}