<div class="shared-container">
  <div class="shared-title">
    <b>File Name</b>
    <b class="title">Shared</b>
    <b>Date Modified</b>
  </div>
  <div *ngFor="let file of files$ | async" class="file">
    <div class="file-name" (click)="openFile(file.fileId)">
      {{ file.title }}
    </div>
    <div class="cover-overlap-ava">
      <ul>
        <li *ngFor="let user of file.collaborators">
          <img class="overlap-ava" [src]="user.photoURL" title="ava" />
        </li>
        <li>
          <img class="overlap-ava" [src]="file.authorId.photoURL" title="ava" />
        </li>
      </ul>
    </div>
    <div class="date-created">
      {{ file.updatedAt | date : "medium" }}
    </div>
  </div>
</div>
