<div class="sidebar">
  <div class="logo">
    <div class="logo-text">
      <div id="we">
        <b>We</b>
      </div>
      <div id="doc">
        <b>Doc</b>
      </div>
    </div>
  </div>
  <div class="sidebar-item">
    <div
      (click)="select(i)"
      [class]="
        sideBarSelected == i ? 'side-item side-item-active' : 'side-item'
      "
      *ngFor="let item of sideMenu; let i = index"
    >
      <div class="side-item-content">
        <div class="side-icon">
          <span class="material-symbols-rounded">
            {{ item.icon }}
          </span>
        </div>
        <span class="side-label">
          <b>{{ item.title }}</b></span
        >
      </div>
    </div>
  </div>

  <div class="sidebar-info">
    <div class="side-avatar">
      <div class="avatar">
        <img class="photoURL" [src]="(auth$ | async)?.user?.photoURL" alt="" />
        <b>{{ name }}</b>
      </div>
    </div>
    <button class="logout" (click)="logOut()">
      <b>Logout</b>
    </button>
  </div>
</div>

