<div class="container">
<div class="one">
  <app-home-sidebar></app-home-sidebar>
</div>
<div class="two">
  <app-home-header></app-home-header>
  <div class="three" >
    <app-home-main></app-home-main>
  </div>
</div>



<router-outlet></router-outlet>
<button (click)="logOut()">Logout</button>
<div>{{ (userSerivce.user$ | async)?.photoURL }}</div>
<div>{{ (userSerivce.user$ | async)?.displayName }}</div>
<div>{{ (userSerivce.user$ | async)?.email }}</div>
<div>{{ (userSerivce.user$ | async)?.uid }}</div>
