<span class="header">
  <div>
    <div class="back">
      <span (click)="backHome()" class="material-symbols-outlined back">
        arrow_back_ios_new
      </span>
    </div>
    <input class="title" type="text" name="" id="title" [value]="title" />
  </div>

  <div class="block2">
    <div (click)="save()" class="item">
      <span class="material-symbols-outlined"> save </span>
      <p>Save</p>
    </div>
    <div (click)="update()" class="item">
      <span class="material-symbols-outlined"> update </span>
      <p>Update</p>
    </div>
    <div (click)="openDialog()" class="item">
      <span class="material-symbols-outlined"> people </span>
      <p>Collaborate</p>
    </div>
  </div>
</span>
