<span class="header">
  <div class="back">
    <span (click)="backHome()" class="material-symbols-outlined back">
      arrow_back_ios_new
    </span>
  </div>
  <input type="text" name="" id="" />
  <div class="block2">
    <div (click)="save()" class="item">
      <span class="material-symbols-outlined"> save </span>
      <p>Save</p>
    </div>
    <div (click)="openDialog()" class="item">
      <span class="material-symbols-outlined"> people </span>
      <p>Collaborate</p>
    </div>
  </div>
</span>
