.header {
  width: 100%;
  background-color: var(--primary);
  color: var(--base);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.back {
  position: absolute;
  left: 0;
  top: 1%;
  font-size: 1.2rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: var(--secondary);
  }
}

.block2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0.5rem;
  padding: 0.3rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: var(--secondary);
  }
}

p {
  margin: 0;
  padding: 0;
}

.title {
  position: absolute;
  left: 5%;
  top: 2%;
  outline: none;
  background-color: transparent;
  color: var(--base);
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  width: fit-content;
}
