.sidebar {
        float: right;
        width: 15%;
        height: 100vh;
        background-color: #673ab7;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
}

.sidebar select {
        outline: none;
}

.text {
        width: 100%;
        text-align: center;
        padding: 0.5rem 0;
        border: 1px solid #c2c2c2;   
}

.heading {
        width: 95%;
}


.heading select {
        display: flex;
        padding: 0.8rem 0;
        width: 100%;
        border-radius: 0.3rem;
        margin: auto;
        margin: 0.8rem auto;
}

.style-layout-more {
        width: 90%;
        display: flex;
        justify-content: center;
        padding: 0.7rem 0;
        border-top: 1px solid #c2c2c2;
        border-bottom: 1px solid #c2c2c2;
}

.style-layout-more button {
        border: none;
        cursor: pointer;
        padding: 0.1rem 1rem;
}

.style-layout-more button:hover {
        background-color: #fff;
}

.style-layout-more button:nth-child(1) {
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        border-right: 1px solid #c2c2c2;
}

.style-layout-more button:nth-child(2) {
        border-right: 1px solid #c2c2c2;
}

.style-layout-more button:nth-child(3) {
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        border-right: 1px solid #c2c2c2;
}

.font {
        width: 90%;
        border-bottom: 1px solid #c2c2c2;
}

.font h4 {
        color: white;
        margin: 0.5rem 0;
        font-weight: 600;
}

.font-text {
        width: 100%;
}

.font-text select {
        width: 100%;
}

.font-style {
        display: flex;
        justify-content: space-between;
        margin: 0.5rem 0;
}

.font-style select:nth-child(1) {
        width: 60%;
}

.font-style select:nth-child(2) {
        width: 30%;
}

.bold-italic-underline {
        width: 60%;
        border-radius: 0.5rem;
        display: flex;
}
.bold-italic-underline button {
        border: none;
        display: flex;
        flex: 1;
        justify-content: center;
}

.bold-italic-underline button:hover {
        cursor: pointer;
        background-color: #FFB405;
}

.bold-italic-underline button:nth-child(1) {
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem; 
}

.bold-italic-underline button:nth-child(2) {
        border-right: 1px solid #c2c2c2;
        border-left: 1px  solid #c2c2c2;
}

.bold-italic-underline button:nth-child(3) {
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
}

.character {
        margin: 0.5rem 0;
        display: flex;
        justify-content: space-between;
        color: white;
        font-size: 0.9rem;
}

.character select {
        width: 50%;
}

.text-color {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0.3rem 0;
        border-top: 1px solid #c2c2c2;
        border-bottom: 1px solid #c2c2c2;
}

.text-color p {
        color: white;
        font-size: 0.9rem;
        display: flex;
        align-items: center;
}

.text-color input {
        height: 1.5rem;
}

.text-align {
        background-color: #fff;
        color: black;
        display: flex;
        justify-content: space-between;
        border-radius: 0.5rem;
        margin: 0.7rem 0;
}
.text-align span {
        width: calc(100%/3);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
}

.text-align span:hover {
        cursor: pointer;
        background-color: #FFB405;
}

.text-align span + span {
        border-left: 1px solid #c2c2c2;
}

.text-align span:nth-child(1) {
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
}

.text-align span:nth-child(4) {
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
}

.align-line {
        background-color: #fff;
        color: black;
        display: flex;
        justify-content: space-between;
        border-radius: 0.5rem;
        margin-bottom: 0.8rem;
}

.align-line span {
        width: calc(100%/2);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
}

.align-line span:nth-child(1) {
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        border-right: 1px solid #c2c2c2;
}

.align-line span:nth-child(2) {
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
}

.align-line span:hover {
        cursor: pointer;
        background-color: #FFB405;
}
