<div class="sidebar">
  <div class="text">Text</div>
  <div class="heading">
    <select name="" id="">
      <option value="" style="font-size: xx-large; font-weight: bold">Title</option>
      <option value="" style="font-size: x-large">Subtitle</option>
      <option value="" style="font-size: large; font-weight: bold">Heading</option>
      <option value="" style="font-size: larger; font-weight: bold">
        Heading 2
      </option>
      <option value="" style="font-size: medium">Heading 3</option>
      <option value="" style="font-size: larger; color: red; font-weight: bold">
        Heading Red
      </option>
      <option value="" selected>Body</option>
      <option value="" style="font-weight: bold; text-transform: uppercase;">Caption</option>
    </select>
  </div>
  <div class="style-layout-more">
    <div style="background-color: #f0f0f0; border-radius: 0.5rem">
      <button>Style</button>
      <button>Layout</button>
      <button>More</button>
    </div>
  </div>

  <div class="font">
    <h4>Font</h4>
    <div class="font-text">
      <select name="">
        <option value="" style="font-family: Arial, Helvetica, sans-serif;">Helvetica Neue</option>
        <option value="" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold;" >Arial Black</option>
        <option value="" style="font-family: Arial, Helvetica, sans-serif;">Arial</option>
        <option value="" style="font-family: 'Times New Roman', Times, serif;">Times New Roman</option>
        <option value="" style="font-family: monospace">monospace</option>
      </select>
    </div>

    <div class="font-style">
      <select name="">
        <option value="">Regular</option>
        <option value="" style=" font-style: italic;">Italic</option>
        <option value="" style=" font-weight: bold;">Bold</option>
        <option value="" style=" font-style: italic;font-weight: bold;">Bold Italic</option>
        <option value="" style="font-weight: lighter;">Light</option>
      </select>
      <select name="">
        <option value="">100pt</option>
        <option value="">75pt</option>
        <option value="">50pt</option>
        <option value="">20pt</option>
        <option value="">15pt</option>
        <option value="" selected>12pt</option>
        <option value="">10pt</option>
        <option value="">8pt</option>
        <option value="">7pt</option>
        <option value="">6pt</option>
      </select>
    </div>

    <div class="bold-italic-underline">
      <button (click)="bold()"><b>B</b></button>
      <button (click)="italic()"><i>I</i></button>
      <button (click)="underline()"><u>U</u></button>
    </div>
    <div class="character">
      <p>Character Styles</p>
      <select name="" id="">
        <option value="" selected>None</option>
        <option value="" style="text-decoration: underline;">Underline</option>
        <option value="" style="text-decoration: line-through;">Strikethrough</option>
      </select>
    </div>
    <div class="text-color">
      <p>
        Text Color
        <span class="material-symbols-outlined"> unfold_less </span>
      </p>
      <input type="color" name="" id="" ((mousewheel))="colorText($event)" />
    </div>
    <div class="text-align">
      <span class="material-symbols-outlined"> format_align_left </span>
      <span class="material-symbols-outlined"> format_align_center </span>
      <span class="material-symbols-outlined"> format_align_right </span>
      <span class="material-symbols-outlined"> format_align_justify </span>
    </div>
    <div class="align-line">
      <span class="material-symbols-outlined"> format_indent_decrease </span>
      <span class="material-symbols-outlined"> format_indent_increase </span>
    </div>
  </div>
</div>
