<div class="container">
  <div class="container__left">
    <div class="left__introduction">
      <div class="introduction__brand">
        <img src="../../../assets/images/image 13.png" alt="" class="brand">
      </div>
      <div class="introduction__content">
        <div class="content__title">
          <h3>Write like a Pro with</h3>
          <h1 style="font-weight: 750;"> <span>We</span>Doc</h1>
          <img src="../../../assets/images/undraw_Live_collaboration_re_60ha 1.png" alt="">
        </div>
        <p>Elevate your writing, create beautiful documents, and collaborate with others—anywhere, anytime.</p>
        <div class="content__login">
          <button (click)="loginWithGoogle()">
            <img src="../../../assets/images/google.png" alt="">
            Sign up with Google</button>
          <button>
            <img src="../../../assets/images/facebook.png" alt="">
            Sign up with Facebook</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container--center">
    
    <img src="../../../assets//images/Group 102.png" alt="" class="image--center--1">
    <img src="../../../assets/images/Group 104.png" alt="" class="image--center--2">
  </div>
  <div class="container__right">
    <div class="btn">
      <button>About us</button>
      <button (click)="loginWithGoogle()">Get Started</button>
    </div>
    <img src="../../../assets/images/right_image.png" alt="">
    <!-- <img src="../../../assets/images/Documents-bro.png" alt=""> -->
  </div>
</div>